<div class="report-issue disclaimer">
    <p>If there are any problems with this page, be it in terms of factual inaccuracies, mistakes in spelling or grammar, technical website issues &mdash; anything at all &mdash; I would truly appreciate it if you let me know here so that I can get it corrected.</p>
    <details>
        <summary>Report an issue with this page</summary>
        <form accept-charset="utf-8" autocomplete="on" action="https://form-a161.immigrationstory.uk/submit" enctype="application/x-www-form-urlencoded" method="POST">
            <label for="name">Your name:</label>
            <input type="text" id="name" autocomplete="name" name="name" required />
            <label for="email">Your email:</label>
            <input type="text" id="email" autocomplete="email" name="email" required />
            <label for="message">Message:</label>
            <textarea autocomplete="off" id="message" name="message" required spellcheck="true"></textarea>
            <input type="hidden" value="{{ page.url | absolute_url }}" name="return-to" />
            <input type="submit" value="Send" />
        </form>
    </details>
</div>