---
layout: default
---

{% assign translations = site.pages | where: 'name', page.name | where: 'type', 'locale-home' | where: 'locale', page.translated-from %}
{% if page.translated-from and translations.size > 0 %}
<div class="translation-notice">{{ site.data.translations['reading-translation'][page.locale] }} <a href="{{ translations[0].url | relative_url }}" title="{{ site.data.languages[page.translated-from].icon }} {{ site.data.languages[page.translated-from].label }}">{{ translations[0].title }}</a>.</div>
{% endif %}
{{ content }}
{% assign locale_path = page.locale | downcase %}
{% assign locale_posts = site.categories[locale_path] | reverse %}
{% for locale_post in locale_posts limit:1 %}
    {% assign post = locale_post %}
{% endfor %}

{% assign translations = site.pages | where: 'name', page.name | where: 'type', 'locale-home' | sort: 'locale' %}
{% if translations.size > 1 %}
<div class="language-options">
  <p>{{ site.data.translations['different-language'][page.locale] }}:</p>
  <ul>
    {% for translation in translations %}
      {% if translation.locale == page.locale %}
        {% assign class='active' %}
      {% else %}
        {% assign class='' %}
      {% endif %}
      <li><a href="{{ translation.url | relative_url }}" class="{{ class | default: '' }}">{{ site.data.languages[translation.locale].icon }} {{ site.data.languages[translation.locale].label }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="pagination">
  <span class="pagination-item older">Home</span>
  {% if post.url %}
    <a class="pagination-item newer" href="{{post.url}}">{{post.compact-title | default: post.title}} &raquo;</a>
  {% else %}
    <span class="pagination-item newer">End</span>
  {% endif %}
  <span style="clear: both; display: block; padding: 1rem;"><a href="table-of-contents">&laquo;&laquo; Table of Contents</a></span>
</div>