---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {% assign translations = site.pages | where: 'name', page.name | where: 'locale', page.translated-from %}
  {% if page.translated-from and translations.size > 0 %}
    <div class="translation-notice">{{ site.data.translations['reading-translation'][page.locale] }} <a href="{{ site.base-url }}{{ translations[0].url }}" title="{{ site.data.languages[page.translated-from].icon }} {{ site.data.languages[page.translated-from].label }}">{{ translations[0].title }}</a>.</div>
  {% endif %}
  {{ content }}
</div>

{% assign translations = site.pages | where: 'name', page.name | sort: 'locale' %}
{% if translations.size > 1 %}
<div class="language-options">
  <p>{{ site.data.translations['different-language'][page.locale] }}:</p>
  <ul>
    {% for translation in translations %}
      {% if translation.locale == page.locale %}
        {% assign class='active' %}
      {% else %}
        {% assign class='' %}
      {% endif %}
      <li><a href="{{ site.base-url }}{{ translation.url }}" class="{{ class | default: '' }}">{{ site.data.languages[translation.locale].icon }} {{ site.data.languages[translation.locale].label }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}