---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.updated %}
  <span class="post-date">{{ page.date | date_to_string }}, updated {{ page.updated | date_to_string }}</span>
  {% else %}
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {% endif %}
  {% assign translations = site.posts | where: 'slug', page.slug | where: 'locale', page.translated-from %}
  {% if page.translated-from and translations.size > 0 %}
    <div class="translation-notice">{{ site.data.translations['reading-translation'][page.locale] }} <a href="{{ site.base-url }}{{ translations[0].url }}" title="{{ site.data.languages[page.translated-from].icon }} {{ site.data.languages[page.translated-from].label }}">{{ translations[0].title }}</a>.</div>
  {% endif %}
  {{ content }}
</div>

{% include report-issue.html %}

{% assign translations = site.posts | where: 'slug', page.slug | sort: 'locale' %}
{% if translations.size > 1 %}
<div class="language-options">
  <p>{{ site.data.translations['different-language'][page.locale] }}:</p>
  <ul>
    {% for translation in translations %}
      {% if translation.locale == page.locale %}
        {% assign class='active' %}
      {% else %}
        {% assign class='' %}
      {% endif %}
      <li><a href="{{ site.base-url }}{{ translation.url }}" class="{{ class | default: '' }}">{{ site.data.languages[translation.locale].icon }} {{ site.data.languages[translation.locale].label }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="pagination">
  {% for post in site.posts %}
    {% if post.locale == page.locale %}
      {% if prev %}
        {% assign previous_post = post %}
      {% endif %}
      {% assign prev = false %}
      {% if post.id == page.id %}
        {% assign prev = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% for post in site.posts reversed %}
    {% if post.locale == page.locale %}
      {% if next %}
        {% assign next_post = post %}
        {% break %}
      {% endif %}
      {% assign next = false %}
      {% if post.id == page.id %}
        {% assign next = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if previous_post %}
    <a class="pagination-item older" href="{{previous_post.url}}">&laquo; {{previous_post.compact-title | default: previous_post.title}}</a>
  {% else %}
    <a class="pagination-item older" href="{{ site.baseurl }}/{{ page.locale | downcase }}/">&laquo; Home</a>
  {% endif %}
  {% if next_post %}
    <a class="pagination-item newer" href="{{next_post.url}}">{{next_post.compact-title | default: next_post.title}} &raquo;</a>
  {% else %}
    <span class="pagination-item newer">Last chapter</span>
  {% endif %}
  <span style="clear: both; display: block; padding: 1rem;"><a href="table-of-contents">&laquo;&laquo; Table of Contents</a></span>
</div>

{% if page.comments %}
<script defer src="https://commento-b48b.immigrationstory.uk/js/commento.js" data-page-id="{{ page.url }}"></script>
<div id="commento"></div>
<noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}